<html>
<head>
<style>
div
{
color:red;
font-size:1cm;
font-variant:small-caps;
font-style:normal;
font-weight:normal;
font-family:arial;
direction:ltr;
line:height;
letter-specing;20px
text-align;
text-decoration:underline;
text-transform:uppercase;
margin:top;
margin:left;
margin:bottom;
border:12px solid red;
padding-left:200px;
}</style></head>
<body>
<div>css page</div>
</body></html>
